.vscode/
out/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
*.patch

# visual studio on windows
.vs/
win_build/

/venv
venv.bat
venv.sh
__pycache__
*.pyc

/statistical_learning_method/test_tmp
